<nav>
    <div class="site-title">
        <a href="/"><h1>Smartphone specs analysis</h1></a>
        <p>Different smartphone devices</p>
    </div>
    <ul>
        <li><a href="/">Analytics</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New device suggestion</a></li>
    </ul>
</nav>
