<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="not-found content">
        Oops, page not found!
    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>